<% page_data(title: "Contract periods", breadcrumbs: @breadcrumbs) %>

<% if @contract_periods.none? %>
  <p class='govuk-body'>No contract periods found</p>
<% else %>
  <%=
    govuk_table(
      head: ["Year", "Started on", "Finished on"],
      rows: @contract_periods.map { |cp| [
        govuk_link_to(cp.year.to_s, admin_contract_period_path(cp)),
        cp.started_on.to_fs(:govuk),
        cp.finished_on.to_fs(:govuk),
      ] }
    )
  %>
<% end %>

<%= render Shared::PaginationSummaryComponent.new(pagy: @pagy, record_name: "contract periods") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_button_to "Add Contract period", new_admin_contract_period_path, method: :get %>
  </div>
</div>
