.govuk-header__logo {
  margin: 0;
}

.app-header {
  &__item {
    padding: .4em;
  }

  @include govuk-media-query($from: tablet) {
    .govuk-header__container {
      display: flex;
      align-items: center;

      .govuk-header__logo { flex-grow: 1; }
    }
    &__item {
      padding: .3em .8em;
      border-left: 1px govuk-colour('white') solid;
    }
  }
}
