<% page_data(title: "Appropriate bodies", breadcrumbs: @breadcrumbs) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with method: :get do |f| %>
      <%=
        f.govuk_text_field(
          "q",
          value: params[:q],
          label: { text: "Search for an appropriate body", size: "s" }
        )
      %>

      <%= f.govuk_submit "Search" %>
    <% end %>

    <% @appropriate_bodies.each do |appropriate_body| %>
      <%=
        govuk_summary_card(title: govuk_link_to(appropriate_body.name, admin_appropriate_body_path(appropriate_body))) do |card|
          card.with_summary_list do |summary_list|
            summary_list.with_row do |row|
              row.with_key(text: "Ongoing inductions")
              row.with_value(text: appropriate_body.induction_periods.ongoing.count)
            end
          end
        end
      %>
    <% end %>
  </div>
</div>
