<%
  page_data(
    title: @appropriate_body.name,
    backlink_href: admin_appropriate_bodies_path
  )
%>

<%= render Admin::AppropriateBodies::DetailsComponent.new(appropriate_body_period: @appropriate_body) %>

<p class='govuk-body'>
  <%# govuk_link_to('Timeline of events', admin_appropriate_body_timeline_path(@appropriate_body)) %>
</p>
