<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Swagger API documentation</h1>
      <p>Our Swagger documentation explains how lead providers connect their systems to the Register early career teachers API. It lists available endpoints, required data fields and formats, response types, and error messages.</p>
      <p>The documentation is for technical teams and developers working with lead providers to manage ECT and mentor data, submit training declarations and test or debug API calls. It is also useful for anyone wanting to understand how the API works.</p>
    </div>
  </div>
</div>

<%= tag.div(id: "swagger-ui", data: { version: @version }) %>

