<div class="govuk-!-margin-top-5">
  <%= govuk_details(summary_text: 'Find out more about appropriate bodies') do %>
    <p class="govuk-body">Teaching school hubs are the main provider of appropriate body services, except for the 2 specialist appropriate body services for some independent and overseas schools.</p>
    <p class="govuk-body">Appropriate bodies:</p>
    <%= govuk_list [
                     "ensure schools follow correct procedures for ECTs, including providing an ECF-based induction",
                     "make sure ECTs receive their statutory entitlements (time off timetable and mentoring)",
                     "monitor ECT progress during induction and advise schools on how to support improvement"
                   ], type: :bullet %>
  <% end %>
</div>
