<% page_data(title: "You cannot register #{@ect.full_name}", error: false) %>

<p class="govuk-body">Our records show that <%= @ect.full_name %> cannot be registered for training or mentoring.</p>

<p class="govuk-body"><%= govuk_link_to("Back to ECTs", schools_ects_home_path) %></p>
