<% page_data(
    title: "This email is already in use for a different ECT or mentor",
    error: false,
    backlink_href: @wizard.previous_step_path,
) %>

<p class="govuk-body">Make sure you use an email that belongs to the person you're registering.</p>

<p class="govuk-body">Do not use a generic email like <a href="mailto:admin@example.com">admin@example.com</a></p>

<%= govuk_button_link_to('Try another email', @wizard.previous_step_path) %>
