<% page_data(title: "Check your answers before submitting", backlink_href: @wizard.previous_step_path) %>

<h2 class="govuk-heading-m">Teacher details</h2>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key(text: 'Name')
    row.with_value(text: @ect.full_name)
    row.with_action(text: 'Change',
      href: schools_register_ect_wizard_change_review_ect_details_path,
      visually_hidden_text: 'name')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Teacher Reference Number (TRN)')
    row.with_value(text: @ect.trn)
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Email address')
    row.with_value(text: @ect.email)
    row.with_action(text: 'Change',
      href: schools_register_ect_wizard_change_email_address_path,
      visually_hidden_text: 'email address')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'School start date')
    row.with_value(text: @ect.start_date)
    row.with_action(text: 'Change',
      href: schools_register_ect_wizard_change_start_date_path,
      visually_hidden_text: 'school start date')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Working pattern')
    row.with_value(text: @ect.formatted_working_pattern)
    row.with_action(text: 'Change',
                    href: schools_register_ect_wizard_change_working_pattern_path,
                    visually_hidden_text: 'working pattern')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Appropriate body')
    row.with_value(text: appropriate_body_name(appropriate_body_type: @ect.appropriate_body_type,
                                               appropriate_body: @ect.appropriate_body))
    row.with_action(text: 'Change',
                    href: schools_register_ect_wizard_change_use_previous_ect_choices_path,
                    visually_hidden_text: 'appropriate body')
  end

  summary_list.with_row do |row|
    row.with_key(text: 'Programme type')
    row.with_value(text: ect_programme_type(@ect))
    row.with_action(text: 'Change',
                    href: schools_register_ect_wizard_change_use_previous_ect_choices_path,
                    visually_hidden_text: 'programme type')
  end

  if @ect.provider_led?
    summary_list.with_row do |row|
      row.with_key(text: 'Lead provider')
      row.with_value(text: @ect.lead_provider_name)
      row.with_action(text: 'Change',
                      href: schools_register_ect_wizard_change_use_previous_ect_choices_path,
                      visually_hidden_text: 'lead provider')
    end
  end
end %>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_submit "Confirm details" %>
<% end %>
