<%
  page_data(
    title: "Find an ECT",
    error: @wizard.current_step.errors.present?,
    backlink_href: schools_register_ect_wizard_start_path,
    test_guidance: true,
  )
%>

<p class="govuk-body">Enter the ECT's teacher reference number and date of birth to find their teaching record.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= render "shared/find_teacher_fields", f: f %>

  <%= f.govuk_submit "Continue" %>
<% end %>
