<% page_data(title: "What you’ll need to register a new ECT", error: false, backlink_href: schools_ects_home_path) %>

<p class="govuk-body">You’ll need the ECT’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>teacher reference number (TRN)</li>
  <li>date of birth</li>
  <li>email address</li>
  <li>start date at your school as an ECT</li>
  <li>working pattern (full or part time)</li>
  <li>appropriate body</li>
  <li>training programme (provider-led or school-led)</li>
  <li>lead provider (if it’s a provider-led programme)</li>
  <li>mentor (you can provide these details later if you need to)</li>
</ul>

<%= govuk_details(summary_text: "What are the roles of an appropriate body, lead provider and delivery partner?") do %>
  <p>An appropriate body is responsible for assuring the quality of the statutory induction of ECTs.</p>

  <p>For provider-led training, the lead provider provides the online learning platform used for training ECTs and mentors, while the delivery partner delivers training events.</p>

  <p>These roles are sometimes undertaken by the same organisation, for example an appropriate body might be the same organisation as the delivery partner.</p>

  <p>For school-led training your school will still work with an appropriate body to quality assure the induction process. You might choose to design your own training programme or use materials created by different lead providers.</p>
<% end %>

<%= govuk_button_link_to("Continue", schools_register_ect_wizard_find_ect_path) %>
