<%
  page_data(
    title: "You've confirmed #{@wizard.induction_tutor_name} will continue as your school's induction tutor",
    header: false
  )
%>

<%= govuk_panel(title_text: "You've confirmed #{@wizard.induction_tutor_name} will continue as your school's induction tutor") %>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">TODO</p>

<p class="govuk-body">
  <%= govuk_link_to "Continue", schools_ects_home_path %>
</p>
