<%
  page_data(
    title: "Your request for help has been submitted"
  )
%>

<p>We'll reply by email as soon we can. We normally reply within 5 working days.</p>

<p><%= govuk_link_to "Back to ECTs", schools_ects_home_path %></p>
