<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="finance-panel">
      <% if can_authorise_payment? %>
        <%= govuk_button_link_to "Authorise for payment", new_admin_finance_statement_authorisation_path(statement) %>
      <% elsif marked_as_paid? %>
        <%= tag.p(marked_as_paid_text) %>
      <% end %>
    </div>
  </div>
</div>
