<% if Schools::RegistrationWindow.closed? %>
  <%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
    <% notification_banner.with_heading(text: "Registration not currently open", tag: "h3") %>

    <p class="govuk-body">
      You cannot register ECTs or mentors for the 2025 or 2026 academic years until we open registration on 15 June.
    </p>
  <% end %>
<% end %>
