<%= f.govuk_text_field(
  :number_of_terms,
  label: { text: "How many additional terms of induction do you need to add?" },
  hint: { text: "You can record the number of terms using up to one decimal place" },
  width: 5
) %>

<div class="govuk-inset-text">
  <p>An ECT may appeal an extension to their induction. You must advise the ECT of their right to appeal and provide them with information about who to appeal to, and the time limit for doing so. More information can be found here.</p>
</div>
