<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      This is live data that is updated when
      a school registers ECT training in the Register early career teachers service.
    </p>
  </div>
</div>

<%= detailed_review_section %>
