<h3 class="govuk-heading-m">Information to review this journey</h3>

<p class="govuk-body">Enter any TRN with the date of birth 03-02-1977 to register a random ECT.</p>
<p class="govuk-body">The following TRNs are special and will result in an early exit.</p>

<%= govuk_list(list, type: 'bullet') %>
