<%
  page_data(
    title: "Batch failed",
    header: false,
    backlink_href: ab_batch_actions_path
  )
%>

<p class='govuk-body'>
  This upload has failed
</p>

<p class='govuk-body'>
  <%= govuk_link_to 'Go back to your overview', ab_batch_actions_path %>
</p>
