<%
  page_data(
    title: "Bulk actions",
    backlink_href: ab_teachers_path
  )
%>

<%= govuk_button_link_to("Record outcomes and releases in bulk", new_ab_batch_action_path, secondary: true) %>

<%=
  govuk_table(
    caption: 'Bulk actions',
    head: ['id', 'type', 'status', 'error'],
    rows: @pending_induction_submission_batches,
  )
%>

<p><%= govuk_link_to("Go to claims", ab_batch_claims_path) %></p>
