<% page_data(title: "What is #{@mentor.full_name}'s email address?",
             error: @wizard.current_step.errors.present?,
             backlink_href: @wizard.previous_step_path) %>

<p class="govuk-body">We need an email so we can ask for their consent to share their details if needed for
  training.</p>

<p class="govuk-body">Make sure you use an email the mentor can access. You can update it later if they haven't got a school email set up yet.</p>

<p class="govuk-body">Do not use a generic email like admin@example.com</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>

  <%= f.govuk_email_field(:email, label: { text: "Email address", hidden: true, class: 'govuk-!-margin-bottom-4' }) %>

  <%= f.govuk_submit "Continue" %>
<% end %>
