<% page_data(
  title: "#{@mentor.full_name} has been registered before",
  backlink_href: @wizard.previous_step_path,
) %>

<% rows = @decorated_mentor.previous_registration_summary_rows %>

<%= govuk_summary_card(title: "Previously registered details") do |card|
  card.with_summary_list(
    actions: false,
    rows: rows,
  )
end %>

<p class="govuk-body">
  You’ll be able to tell us what kind of training they’ll continue with later.
</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= content_for(:error_summary) { f.govuk_error_summary } %>
  <%= f.govuk_submit "Continue" %>
<% end %>
