<% 
  page_data(
    title: "#{@mentor.full_name} can receive mentor training", 
    backlink_href: @wizard.previous_step_path
  ) 
%>

<p class="govuk-body">Our records show that <%= @mentor.full_name %> can get up to 20 hours of ECTE mentor training as your school is working with a DfE-funded training provider.</p>

<p class="govuk-body">We'll pass on their details to <%= @wizard.ect.lead_provider.name %> who will contact them to arrange the training.</p>

<%= form_with(model: @wizard.current_step, url: @wizard.current_step_path) do |f| %>
  <%= f.govuk_submit "Continue" %>
<% end %>
