<% page_data(title: "Finance") %>

<h2 class="govuk-heading-m">
  <%= govuk_link_to('Statements', admin_finance_statements_path, no_visited_state: true, no_underline: true) %>
</h2>

<p class="govuk-body">
  Monthly record of payments made to lead providers.
</p>
