<%
  page_data(
    title: "API guidance",
    header: "Lead provider guidance: early career training programme",
    header_classes: %w(x-govuk-masthead__title)
  )
%>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Release notes</h2>

<p>
We could include the latest couple of release notes here plus a link to the release notes library. 
Alternatively, we could have a description of what release notes are and a link to the release notes library. 
</p>

<h2 class="govuk-heading-m">API technical documentation</h2>

<p>
Details everything developers can do with this API. 
</p>

<p>
Link to the Swagger documentation for this service's API. 
</p>

<h2 class="govuk-heading-m">Sandbox environment</h2>

<p>
Brief overview of what the sandbox environment is for. 
</p>

<p>
Link to the Sandbox environment. 
</p>

<h2 class="govuk-heading-m">Early career training programme guidance for lead providers  </h2>

<p>
Advice on how to submit and update data to help deliver the early career teacher programme and ensure accurate payments from the Department for Education.
</p>

<p>
Link to 'How to use this API' guide. 
</p>

</div>
</div>
