<%
  page_data(
    title: "API guidance",
    header: "Integrate with this API to view, submit and update ECF training data",
    header_classes: %w(x-govuk-masthead__title)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Nunc condimentum</h2>

    <p>
      Praesent convallis ultrices pharetra. Ut id nulla at risus mollis vulputate quis at dui. Donec imperdiet lacinia porttitor. Curabitur quis rutrum sapien.
    </p>

    <p>
      Nam efficitur velit nec est ultrices mollis. Sed mauris odio, tincidunt a quam ut, imperdiet gravida lacus.

      Sed magna nulla, tristique sagittis sem quis, malesuada venenatis elit.
    </p>

    <h2 class="govuk-heading-m">Pulvinar vehicula</h2>

    <p>
      Curabitur rutrum nibh non lacus eleifend, quis posuere urna mollis. Nunc condimentum orci id eros vulputate ultrices. Aliquam erat volutpat.
    </p>

    <p>
      Maecenas porttitor justo consectetur pulvinar vehicula. Nullam rhoncus quis quam et ornare.
    </p>
  </div>
</div>
