<%
  page_data(
    title: "API guidance",
    header: "Integrate with this API to view, submit and update early career training programme data",
    header_classes: %w(x-govuk-masthead__title)
  )
%>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Release notes</h2>

<p>
We could include the latest couple of release notes here plus a link to the release notes library. 
Alternatively, we could have a description of what release notes are and a link to the release notes library. 
</p>

<h2 class="govuk-heading-m">Technical details</h2>

<p>
Complete technical details - tells everything developers can do with this API. 
</p>

<p>
Links to the Swagger documentation for v1, v2 and v2 of the API. 
</p>

<h2 class="govuk-heading-m">Sandbox (test) environments</h2>

<p>
Brief overview of what the sandbox environments are for. 
</p>

<p>
Links to the Sandbox environments. 
</p>

<h2 class="govuk-heading-m">How to use this API</h2>

<p>
Advice on how best to use the API — workflows, performance tips, usage patterns, security recommendations, versioning and common pitfalls.
</p>

<p>
Link to 'How to use this API' guide. 
</p>

</div>
</div>
