<%= link_to url do %>
  <div class="govuk-grid-column-one-third">
    <div class="action-card dfe-card">
      <h3 class="govuk-heading-l">
        <%= heading %>
      </h3>
      <p class="govuk-body">
        <%= body %>
      </p>
    </div>
  </div>
<% end %>
