<%
  page_data(
    title: smart_quotes(teacher_full_name(@teacher) + "'s timeline"),
    caption: teacher_trn(@teacher),
    caption_size: 'm',
    error: false,
    breadcrumbs: @breadcrumbs
  )
%>

<%= render 'admin/teachers/navigation', navigation_items: @navigation_items %>

<h2 class="govuk-heading-m">Timeline</h2>

<% if @events.any? %>
  <%= render(TimelineComponent.new(@events)) %>
<% else %>
  <p class='govuk-body'>No timeline of events for this teacher.</p>
<% end %>
