<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-third">
    <%= render Shared::CountCardComponent.new(
      count: batch.tally[:errored_count],
      description: pluralize(batch.tally[:errored_count], 'error').split.last,
      colour: :red
    ) %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render Shared::CountCardComponent.new(
      count: batch.recorded_count,
      description: pluralize(batch.recorded_count, 'row').split.last + ' completed',
      colour: :green
    ) %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render Shared::CountCardComponent.new(
      count: error_rate,
      description: "error rate",
      colour: :yellow
    ) %>
  </div>
</div>
