<h2 class="govuk-heading-m">Failed runs</h2>

<p>
  <%= pluralize(number_with_delimiter(failed_runs.count), "run") %> failed<br>
  <%= link_to("View failed jobs for more details", admin_mission_control_jobs.application_jobs_path(application_id: :registerearlycareerteachers, status: :failed)) %>
</p>
