<div id="run_states">
  <%= tag.p(link_to("View completed runs", completed_migration_parity_checks_path)) if completed_runs.any? %>
  <%= render partial: "in_progress_run", locals: { in_progress_run: } if in_progress_run %>
  <%= render partial: "pending_runs", locals: { pending_runs:, in_progress_run: } if pending_runs.any? %>
</div>
