<% page_data(title: "Run a parity check") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @lead_providers.none? %>
      <p>
        Lead providers with an <strong>ecf_id</strong> are required for parity checks.
      </p>
    <% elsif @endpoints.none? %>
      <p>
        No endpoints available for parity checks.
      </p>
    <% else %>
      <p>
        Select endpoints you would like to run a parity check against.
      </p>

      <%= render partial: "form" %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= turbo_stream_from :run_states %>

    <%= render partial: "runs_sidebar", locals: { in_progress_run: @in_progress_run, completed_runs: @completed_runs, pending_runs: @pending_runs } %>
  </div>
</div>

