<% page_data(title: "Change adjustment") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with model: @adjustment, url: admin_finance_statement_adjustment_path(@statement, @adjustment) do |form| %>
      <%= render "fields", form: %>
      <%= form.govuk_submit "Save changes" %>
    <% end %>

    <%= govuk_link_to "Cancel and return to statement", statement_path %>
  </div>
</div>
