.parity-check-in-progress {
  label + .govuk-tag {
    float: right;
  }

  progress {
    width: 100%;
  }
}

.parity-check-requests-table {
  tbody:nth-child(odd) {
    tr:last-child .govuk-table__cell {
      border: none;
    }
  }

  tbody:last-child {
    tr:last-child .govuk-table__cell {
      border-bottom: 1px solid #b1b4b6;
    }
  }

  tbody:nth-child(even) { 
    background: #f8f8f8; 

    tr:first-child td {
      border-top: 3px solid #b1b4b6; 
    }

    tr:last-child td {
      border-bottom: 3px solid #b1b4b6; 
    }
  }
}

.parity-check-responses-table {
  .border-left {
    border-left: 1px solid #b1b4b6;
  }

  thead {
    tr:first-child th {
      text-align: center;
      border-bottom: 0;
    }
  }
  

  tbody .center {
    text-align: center;
  }
}

.diff-container {
  > div:first-child {
    border-right: 1px solid #b1b4b6;
  }
}

.diff {
  &.red {
    background-color: rgb(255, 238, 238);
    color: #b00000;
  }

  &.green {
    background-color:rgb(221, 255, 221);
    color: #080000;
  }
}

.diff-filter {
  overflow-x: scroll;

  ul {
    padding-left: 20px;
  }

  .govuk-checkboxes {
    padding-top: 8px;
  }

  label {
    font-size: 0.8em;
  }

  .govuk-checkboxes > ul {
    padding-left: 10px;
    margin-top: 20px;

    li {
      position: relative;
      margin-top: -20px;
      margin-left: -9px;
      padding-left: 10px;
      border-left: 1px solid #b1b4b6;
    }

    li:last-child {
      border-left-color: transparent;
    }

    li::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 11px;
      height: 1px;
      background-color: #b1b4b6;
    }

    li:last-child::after {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      width: 1px;
      height: 20px;
      background-color: #b1b4b6;
    }
  }
}

.no-differences {
  margin-top: 100px;
  text-align: center;
}
