.parity-check-in-progress {
  label + .govuk-tag {
    float: right;
  }

  progress {
    width: 100%;
  }
}

.parity-check-requests-table {
  tbody:nth-child(odd) {
    tr:last-child .govuk-table__cell {
      border: none;
    }
  }

  tbody:last-child {
    tr:last-child .govuk-table__cell {
      border-bottom: 1px solid #b1b4b6;
    }
  }

  tbody:nth-child(even) { 
    background: #f8f8f8; 

    tr:first-child td {
      border-top: 3px solid #b1b4b6; 
    }

    tr:last-child td {
      border-bottom: 3px solid #b1b4b6; 
    }
  }
}

.parity-check-responses-table {
  .border-left {
    border-left: 1px solid #b1b4b6;
  }

  thead {
    tr:first-child th {
      text-align: center;
      border-bottom: 0;
    }
  }
  

  tbody .center {
    text-align: center;
  }
}

.diff {
  &.red {
    background-color: rgb(255, 238, 238);
    color: #b00000;
  }

  &.green {
    background-color:rgb(221, 255, 221);
    color: #080000;
  }
}
