<%
  page_data(
    title: "Schedules",
    caption: "#{@contract_period.year} contract period",
    caption_size: "l",
    breadcrumbs: @breadcrumbs
  )
%>

<p class="govuk-body">Manage schedules for the <%= @contract_period.year %> contract period.</p>

<% if @contract_period.schedules.none? %>
  <p class="govuk-body">This contract period currently has no schedules.</p>
<% else %>
  <%=
    govuk_table(
      head: ["Schedule"],
      rows: @contract_period.sorted_schedules.map do |schedule|
        [
          govuk_link_to(schedule.name, admin_contract_period_schedule_path(@contract_period, schedule)),
        ]
      end
    )
  %>
<% end %>

<%=
  if (@contract_period.fully_scheduled? || @contract_period.started_on_or_before_today?)
    govuk_button_to "Add schedule", "#", disabled: true
  else
    govuk_button_link_to "Add schedule", new_admin_contract_period_schedule_path(@contract_period)
  end
%>
