<%
  page_data(
    title: "You have changed the ECT’s name to #{@wizard.full_name}",
    header: false
  )
%>

<%= govuk_panel(title_text: "You have changed the ECT’s name to #{@wizard.full_name}") %>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">The ECT can update their name in their teacher record using the Access your teaching qualifications service.</p>

<p class="govuk-body">
  <%= govuk_link_to "Back to #{@wizard.full_name}’s details", schools_ect_path(@wizard.ect_at_school_period) %>
</p>
