<% page_data(title: "Contact support", error: false) %>

<p class="govuk-body">
  Contact us if you have a question about this service.
</p>

<p class="govuk-body">
  Our support team will reply by email as soon as they can. They normally reply within 5 working days.
</p>

<h2 class="govuk-heading-m">If you're a school</h2>

<p class="govuk-body">
  Email <%= school_support_mailto_link %>.
</p>

<h2 class="govuk-heading-m">If you're an appropriate body</h2>

<p class="govuk-body">
  Email <%= support_mailto_link %>.
</p>