<div class='app-card--grey'>
  <p class='govuk-body'>
    <%= "You are signed in as #{@school&.name}" %>
  </p>

  <%= govuk_button_to("Sign out from #{@school.name}", admin_impersonate_path, method: :delete) %>
</div>
