<% if appropriate_body_mode? && failed? %>
  <p class="govuk-body">
    <%= appeal_notice %>
  </p>
<% end %>

<%= form_with(model:, url:) do |f| %>

  <%= render Teachers::OutcomeFormComponent.new(form: f, appropriate_body:) %>

  <%= f.govuk_submit submit_text, warning: failed? %>
<% end %>
