<% page_data(title: "Schools") %>

<%= render Shared::TopSearchComponent.new(
  label_text: "Search by name or URN"
) %>

<% if @schools.any? %>
  <%=
    govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "School")
          row.with_cell(text: "URN")
        end
      end

      table.with_body do |body|
        @schools.each do |school|
          body.with_row do |row|
            row.with_cell do
              govuk_link_to(school.name, admin_school_path(school, page: params[:page], q: params[:q]))
            end
            row.with_cell(text: school.urn)
          end
        end
      end
    end
  %>

  <%= render Shared::PaginationSummaryComponent.new(
    pagy: @pagy,
    record_name: "results"
  ) %>
<% elsif params[:q].present? %>
  <p class="govuk-body">There are no schools that match your search.</p>
<% else %>
  <p class="govuk-body">No schools found.</p>
<% end %>
