@use "govuk-frontend/dist/govuk" as *;

.app-code {
  padding: 2px 5px;
  font-family: monospace;
  background-color: $govuk-template-background-colour;
  white-space: pre-wrap;
  font-size: 0.8em;
}

.govuk-summary-list__value .app-code--full-width {
  display: block;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.app-teachers-filters {
  @include govuk-media-query($from: tablet) {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: govuk-spacing(3);

    > .app-teachers-filters__search {
      flex: 2 1 22rem;
    }
  }
}
