redis: &redis
  adapter: redis
  url: <%= ENV.fetch('REDIS_CACHE_URL', 'redis://localhost:6379') %>

development:
  adapter: postgresql

test:
  adapter: test

review: *redis

staging: *redis

production: *redis

migration: *redis
