production:
  send_entity_table_checks_to_bigquery:
    class: DfE::Analytics::EntityTableCheckJob
    queue: dfe_analytics
    schedule: Every day at 00:30

  purge_pending_induction_submissions:
    class: PurgePendingInductionSubmissionsJob
    queue: default
    schedule: Every hour

  schedule_trs_sync:
    class: Teachers::ScheduleTRSSyncJob
    queue: default
    schedule: Every hour

  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

  refresh_all_metadata_job:
    class: RefreshAllMetadataJob
    queue: metadata
    schedule: every day at 1am

  gias_import:
    class: GIASImportJob
    queue: default
    schedule: every day at 3am

  blazer_run_checks_1_day:
    command: "Blazer.run_checks(schedule: '1 day')"
    schedule: every day at 7:30am

  blazer_send_failing_checks:
    command: Blazer.send_failing_checks
    schedule: every day at 8am

sandbox:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

  refresh_all_metadata_job:
    class: RefreshAllMetadataJob
    queue: metadata
    schedule: every day at 1am

staging:
  purge_pending_induction_submissions:
    class: PurgePendingInductionSubmissionsJob
    queue: default
    schedule: Every hour

  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

review:
  purge_pending_induction_submissions:
    class: PurgePendingInductionSubmissionsJob
    queue: default
    schedule: Every hour

migration:
  build_induction_record_export_csv:
    class: BuildInductionRecordExportJob
    queue: migration
    schedule: every day at 5am

