<%
  page_data(
    title: teacher_full_name(@teacher),
    caption: teacher_trn(@teacher),
    caption_size: 'm',
    error: false,
    backlink_href: ab_teachers_path
  )
%>

<div class="govuk-button-group">
  <%= govuk_button_link_to("Pass induction", new_ab_teacher_record_passed_outcome_path(@teacher)) %>
  <%= govuk_link_to("Fail induction", new_ab_teacher_record_failed_outcome_path(@teacher)) %>
</div>

<%= render Teachers::DetailsComponent.new(teacher: @teacher) do |component|
  component.with_induction_summary { render(Teachers::Details::InductionSummaryComponent.new(teacher: @teacher)) }
  component.with_current_induction_period { render(Teachers::Details::CurrentInductionPeriodComponent.new(teacher: @teacher, enable_release: true)) }
  component.with_past_induction_periods { render(Teachers::Details::PastInductionPeriodsComponent.new(teacher: @teacher)) }
end %>
