<%
  page_data(
    title: "Early career teachers (ECT)",
    error: false,
    caption: @school.name,
    caption_size: 'l'
  )
%>

<%= govuk_button_link_to("Register an ECT starting at your school", schools_register_ect_wizard_start_path) %>

<hr class="govuk-section-break--m"/>

<div class="govuk-grid-row">
  <% if @number_of_teachers.zero? %>
    <div class='govuk-grid-column-two-thirds'>
      <p class="govuk-body">Your school currently has no registered early career teachers.</p>
    </div>
  <% else %>
    <div class='govuk-grid-column-full'>
      <%= render Shared::TopSearchComponent.new %>
      <% if @filtered_teachers.count.zero? %>
        <p class="govuk-body">There are no ECTs that match your search.</p>
      <% else %>
        <% @filtered_teachers.to_a.map { |t| t.ect_at_school_periods.first }.each do |ect| %>
          <%= render Schools::ECTs::ListingCardComponent.new(ect:) %>
        <% end %>
      <% end %>
      <%= govuk_pagination(pagy: @pagy) %>
    </div>
  <% end %>
</div>
