<%
  page_data(
    title: "Early career teachers (ECT)",
    error: false,
    caption: @school.name,
    caption_size: 'l'
  )
%>

<%= govuk_button_link_to(@teachers.present? ? "Add an ECT" : "Register an ECT starting at your school", schools_register_ect_wizard_start_path) %>

<hr class="govuk-section-break--m" />

<div class="govuk-grid-row">
  <% if @teachers.present? %>

    <div class='govuk-grid-column-two-thirds'>


      <%= render Shared::TopSearchComponent.new %>

      <% @teachers.map { |t| t.ect_at_school_periods.first }.each do |ect| %>
        <%=
          govuk_summary_card(title: link_to_ect(ect)) do |card|
            card.with_summary_list(
              borders: false,
              rows: [
                { key: { text: 'Status' }, value: { text: ect_status(ect) } },
                { key: { text: 'Mentor' }, value: { text: ect_mentor_details(ect) } },
              ]
            )
          end
        %>
      <% end %>

      <%= govuk_pagination(pagy: @pagy) %>
    </div>

  <% else %>

    <div class='govuk-grid-column-two-thirds'>
      <p class="govuk-body">Your school currently has no registered early career teachers.</p>
    </div>
    
  <% end %>
</div>
