<%
  page_data(
    title: teacher_full_name(@ect.teacher),
    backlink_href: schools_ects_home_path,
    caption: teacher_trn(@ect.teacher),
    caption_size: 'l',
  )
%>

<%= render Schools::TeacherProfileSummaryListComponent.new(@ect) %>

<h2 class="govuk-heading-m">ECTE training details</h2>

<%= render Schools::SummaryCardComponent.new(title: 'Reported to us by your school', ect: @ect, data_source: :school) %>

<% if @ect.provider_led? %>
  <%= render Schools::SummaryCardComponent.new(title: 'Reported to us by your lead provider', ect: @ect, data_source: :lead_provider) %>
<% end %>

<%= render Schools::SummaryCardComponent.new(title: 'Reported to us by your appropriate body', ect: @ect, data_source: :appropriate_body) %>
