<h2 class="govuk-heading-m">Past induction periods</h2>

<ul id="past-induction-periods" class="govuk-list">
  <% past_periods.each do |period| %>
    <li>
      <%=
        govuk_summary_list(card: { title: period.appropriate_body.name, actions: enable_edit == true ? [edit_link(period), delete_link(period)].compact : [] }) do |sl|
          sl.with_row do |row|
            row.with_key(text: "Induction programme")
            
            if Rails.application.config.enable_bulk_claim 
              row.with_value(text: ::TRAINING_PROGRAMME[period.training_programme.to_sym])
            else
              row.with_value(text: ::INDUCTION_PROGRAMMES[period.induction_programme.to_sym])
            end
          end

          sl.with_row do |row|
            row.with_key(text: "Start date")
            row.with_value(text: period.started_on.to_fs(:govuk))
          end

          if period.finished_on.present?
            sl.with_row do |row|
              row.with_key(text: "End date")
              row.with_value(text: period.finished_on.to_fs(:govuk))
            end
          end

          if period.number_of_terms.present?
            sl.with_row do |row|
              row.with_key(text: "Number of terms")
              row.with_value(text: period.number_of_terms)
            end
          end
        end
      %>
    </li>
  <% end %>
</ul>
