<%= content_for :page_title, "Sorry, there’s a problem with the service" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, there’s a problem with the service</h1>

    <p class="govuk-body">Try again later.</p>

    <p class="govuk-body">
      If this page has been displayed after you entered information, it will not have been saved.
    </p>
    <p class="govuk-body">
      Check and enter it again when the service is available.
    </p>

    <h2 class="govuk-heading-m">If you have any questions</h2>
    <p class="govuk-body">
      If you’re a school, email <%= school_support_mailto_link %>.
    </p>
    <p class="govuk-body">
      If you’re an appropriate body, email <%= support_mailto_link %>.
    </p>
  </div>
</div>
