<% page_data(title: "We will not send you reminder emails this term") %>

<p>You’ve told us that your school does not currently have ECTs or mentors and you do not expect new ECTs or mentors this term.</p>

<p>We will not send you ECT and mentor reminder emails this term.</p>

<p>You can still use the service if you need to register ECTs and mentors or make changes.</p>
