<% page_data(title: "Statements") %>

<%= render Admin::Statements::FilterComponent.new(filter_params:) %>

<% if @statements.none? %>
  <p class='govuk-body'>No financial statements found</p>
<% else %>
  <%=
    govuk_table(
      head: ["Lead provider", "Contract year", "Statement", "Status", govuk_visually_hidden("Actions")],
      rows: @statements.map { |s| [
        s.lead_provider_name,
        s.contract_period_year,
        s.month_and_year,
        govuk_tag(**s.status_tag_kwargs),
        govuk_link_to("View", admin_finance_statement_path(s)),
      ] }
    )
  %>
<% end %>

<%= render Shared::PaginationSummaryComponent.new(pagy: @pagy, record_name: "statements") %>
