<% page_data(title: "Statements") %>

<% if @statements.none? %>
  <p class='govuk-body'>There are no statements</p>
<% else %>
  <%=
    govuk_table(
      head: ["ID", "Lead provider", "Contract year", "Statement", "Status"],
      rows: @statements.map { |s| [
        govuk_link_to(s.id, admin_finance_statement_path(s)),
        s.lead_provider_name,
        s.registration_period_year,
        s.month_and_year,
        govuk_tag(**s.status_tag_kwargs)
      ] }
    )
  %>
<% end %>

<%= govuk_pagination(pagy: @pagy) %>
