<div class="bulk-loader">
</div>

<h1 class='govuk-heading-l govuk-!-margin-top-4 govuk-!-text-align-centre'>
We're uploading your CSV. It'll take a few minutes.
</h1>

<h2 class='govuk-heading-m govuk-!-text-align-centre'>
<%= batch.progress.round %>%
</h2>