<%
  page_data(
    title: "Add statement",
    error: @statement.errors.present?,
    backlink_href: admin_contract_period_active_lead_provider_statements_path(@active_lead_provider.contract_period, @active_lead_provider)
  )
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @statement,
                   url: admin_contract_period_active_lead_provider_statements_path(@active_lead_provider.contract_period, @active_lead_provider),
                   method: :post do |f| %>
      <%= render "fields", form: f, active_lead_provider: @active_lead_provider, contract_period: @active_lead_provider.contract_period %>
      <%= f.govuk_submit "Save" %>
    <% end %>
  </div>
</div>
