<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      <%= heading_text %>
    </h2>
    <div class="govuk-!-padding-bottom-4">
      <% if should_show_navigation_link? %>
        <%= govuk_link_to(navigation_link_text, navigation_link_path) %>
      <% else %>
        <span class="govuk-body"><%= navigation_link_text %></span>
      <% end %>
    </div>
  </div>
</div>
