<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p><%= govuk_link_to("Find and claim a new ECT", new_ab_claim_an_ect_find_path) %></p>
    <% if bulk_upload_enabled? %>
      <p><%= govuk_link_to("Upload a CSV to record outcomes for multiple ECTs", new_ab_batch_action_path) %></p>
      <p><%= govuk_link_to("Upload a CSV to claim multiple new ECTs", new_ab_batch_claim_path) %></p>
    <% end %>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>
