<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      Check data from schools
    </h2>
    <p class="govuk-body">
      When a school tells us you are their AB, 
      the ECT induction record will show here. 
      You can check these records and claim inductions, 
      or take action if any information is not correct.
    </p>
  </div>
</div>

<%= render AppropriateBodies::CardContainerComponent.new do %>
  <%= render AppropriateBodies::ActionCardComponent.new(
    url: "#",
    heading: number_of_ect_records_to_review,
    body: "ECT induction #{"record".pluralize(number_of_ect_records_to_review)} to review"
  ) %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <hr />
  </div>
</div>
