<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      Check data from schools
    </h2>
    <p class="govuk-body">
      When a school tells us you are their AB, 
      the ECT induction record will show here. 
      You can check these records and claim inductions, 
      or take action if any information is not correct.
    </p>
    
    <% if number_of_ect_records_to_review > 0 %>
      <%= govuk_button_link_to "Review #{number_of_ect_records_to_review} ECT induction #{"record".pluralize(number_of_ect_records_to_review)}", ab_unclaimed_index_path %>
    <% else %>    
      <%= govuk_inset_text do %>
        You have no ECT induction records to review.
      <% end %>
    <% end %>
  </div>
</div>


<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <hr />
  </div>
</div>
