<% page_data(
  title: @school.name,
  caption: "URN: #{@school.urn}",
  caption_size: "xl",
  header_size: "xl",
  breadcrumbs: @breadcrumbs
) %>

<%= render Navigation::SecondaryNavigationComponent.new(
  items: @navigation_items
) %>

<h2 class="govuk-heading-m">Partnerships</h2>

<p class="govuk-body">Partnership information will be available here in the future.</p>
