<% page_data(
  title: @school.name,
  caption: "URN: #{@school.urn}",
  caption_size: "xl",
  header_size: "xl",
  breadcrumbs: @breadcrumbs
) %>

<%= render 'admin/schools/impersonate_button' %>

<%= render Navigation::SecondaryNavigationComponent.new(
  items: @navigation_items
) %>

<h2 class="govuk-heading-m">Partnerships</h2>

<%= govuk_button_link_to(
  "Add partnership",
  admin_schools_add_partnership_wizard_select_contract_period_path(@school.urn)
) %>

<%= render Admin::Schools::PartnershipsSummaryComponent.new(school: @school) %>
