$x-govuk-masthead-background-colour: $govuk-brand-colour;
$x-govuk-masthead-border-colour: govuk-tint($govuk-brand-colour, 25%);
$x-govuk-masthead-text-colour: govuk-colour("white");

.api-guidance {

  // phase banner
  .x-govuk-phase-banner--inverse {
    border-bottom-color: $x-govuk-masthead-border-colour;
  }

  .x-govuk-phase-banner--inverse .govuk-phase-banner__content {
    color: $x-govuk-masthead-text-colour;
  }

  .x-govuk-phase-banner--inverse .govuk-phase-banner__content a {
    color: $x-govuk-masthead-text-colour;
  }

  // tag
  .x-govuk-tag--inverse {
    background-color: $x-govuk-masthead-text-colour;
    color: $x-govuk-masthead-background-colour;
  }

  // masthead
  .x-govuk-masthead {
    @include govuk-responsive-padding(4, "bottom");
    background-color: $x-govuk-masthead-background-colour;
    color: $x-govuk-masthead-text-colour;
    padding-top: 0.1px; // Prevent margin collapse
  }

  .x-govuk-masthead__title {
    @include govuk-font($size: 48, $weight: "bold");
    @include govuk-responsive-margin(6, "bottom");
    @include govuk-responsive-margin(6, "top");
    color: $x-govuk-masthead-text-colour;
  }

  .x-govuk-masthead__description {
    @include govuk-font($size: 24);
    @include govuk-responsive-margin(6, "bottom");
    color: $x-govuk-masthead-text-colour;
  }

  .x-govuk-masthead__description a {
    @include govuk-link-style-inverse;
  }

  .x-govuk-masthead__image {
    @include govuk-responsive-padding(6, "top");
  }

  .x-govuk-masthead__image img {
    max-width: 100%;
  }

  @include govuk-media-query($until: desktop) {
    .api-guidance .x-govuk-masthead__image {
      display: none;
    }
  }

  .release-notes-tags .tag-group {
    line-height: 2em;
  }

  .release-notes-tags .govuk-tag {
    margin: 0 10px 8px 0;
  }

  code {
    padding: 2px 5px;
    font-family: monospace;
    background-color: $govuk-template-background-colour;
    white-space: pre-wrap;
    font-size: 0.8em;
  }

  code a {
    text-decoration: none;
  }

  code a:hover {
    text-decoration: underline;
  }

}
