// GOV.UK frontend
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/dist/govuk/all";

// app styles
@import "header/colour-overrides";
@import "header/navigation";
@import "schools/ects";
@import "timeline";
@import "bulk_upload";
@import "search";
@import "admin/filter";

// library styles
@import "accessible-autocomplete/src/autocomplete";
@import "autocomplete";

// X-Govuk Prototype
@import "admin";
@import "api_guidance";

// Migration classes
@import "migration";

// Parity check classes
@import "parity_check";

// Test guidance styles
@import "test_guidance";
@import "personas";
