@use "govuk-frontend/dist/govuk" as *;
@use "sass:map";

$colour-variants: (
  red: (
    background: govuk-colour('red', $variant: 'tint-80'),
    heading: govuk-colour('red', $variant: 'shade-50'),
    caption: govuk-colour('red', $variant: 'shade-50'),
    border: govuk-colour('red'),
  ),
  yellow: (
    background: govuk-colour('yellow', $variant: 'tint-80'),
    heading: govuk-colour('yellow', $variant: 'shade-50'),
    caption: govuk-colour('yellow', $variant: 'shade-50'),
    border: govuk-colour('yellow'),
  ),
  green: (
    background: govuk-colour('green', $variant: 'tint-80'),
    heading: govuk-colour('green', $variant: 'shade-50'),
    caption: govuk-colour('green', $variant: 'shade-50'),
    border: govuk-colour('green'),
  ),
  grey-and-blue: (
    background: govuk-colour('black', $variant: 'tint-95'),
    heading: govuk-colour('blue'),
    caption: govuk-colour('black'),
    border: govuk-colour('black', $variant: 'tint-50'),
  ),
  grey: (
    background: govuk-colour('black', $variant: 'tint-95'),
    heading: govuk-colour('black'),
    caption: govuk-colour('black'),
    border: govuk-colour('black', $variant: 'tint-50'),
  ),
  blue: (
    background: govuk-colour('blue', $variant: 'tint-95'),
    heading: govuk-colour('black'),
    caption: govuk-colour('black'),
    border: govuk-colour('blue'),
  ),
);

@each $name, $colours in $colour-variants {
  // append the name to an empty string to avoid Sass warnings about incorrectly
  // interpolating colours here
  .app-card--#{"" + $name} {
    background: map.get($colours, background);
    padding: 20px;
    border: 1px solid map.get($colours, border);

    .govuk-heading-l {
      color: map.get($colours, heading);
      margin-bottom: 0;
    }

    .govuk-caption-l {
      color: map.get($colours, caption);
      @include govuk-font($size: 19);
      margin-top: govuk-spacing(3);
    }
  }
}

.action-card {
  text-decoration: none;

  .card {
    &:hover {
      background: govuk-colour('blue');

      .govuk-heading-l,
      .govuk-caption-l {
        color: govuk-colour('white');
      }
    }
  }
}
