<% if request.response_body_ids_different? %>
  <span class="body-ids-diff">
    <%= govuk_list do %>
      <% request.ecf_only_response_body_ids.each do |id| %>
        <%= tag.li(tag.span(id, class: "diff red")) %>
      <% end %>
    <% end %>

    <%= govuk_list do %>
      <% request.rect_only_response_body_ids.each do |id| %>
        <%= tag.li(tag.span(id, class: "diff green")) %>
      <% end %>
    <% end %>
  </span>
<% else %>
  <p class="no-differences govuk-!-font-size-27">No differences found 🙌</p>
<% end %>

