<%= form.govuk_fieldset legend: {text: "Explain why you're making this update"} do %>
  <p class="govuk-hint">
    You need to add a link to a support ticket or a written note to this update.
    This is so there is a record of why an update was made.
  </p>

  <%= form.govuk_number_field(
        :zendesk_ticket_id,
        width: 4,
        label: {text: "Add the Zendesk ticket ID"}
      ) %>
  <%= form.govuk_text_area :note, label: {text: "Add a written note"} %>
<% end %>
