# This workflow integrates Brakeman with GitHub's Code Scanning feature
# Brakeman is a static analysis security vulnerability scanner for Ruby on Rails applications

name: Full scan
env:
  BRAKEMAN_VERSION: "6.2.2"

on:
  workflow_call:

permissions:
  contents: read
  actions: read
  security-events: write

jobs:
  brakeman-scan:
    name: Brakeman Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.232.0
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true

      - name: Setup Brakeman
        run: |
          gem install brakeman --version ${{ env.BRAKEMAN_VERSION }}

      - name: Scan
        run: |
          brakeman --rails8 --exit-on-warn --exit-on-error
