name: "Lint"
on:
  workflow_call:
    inputs:
      ruby-version:
        description: Ruby version
        type: string
        required: false
        default: "3.4.7"
      node-version:
        description: Node version
        type: string
        required: false
        default: "22.14.0"

permissions:
  contents: read

jobs:
  ruby_linting:
    name: "Lint ruby"
    permissions:
      contents: read
    env:
      GOVUK_NOTIFY_API_KEY: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout Code
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true

      - name: Lint Ruby
        run: bundle exec rubocop

  js_linting:
    name: "Lint JS"
    permissions:
      contents: read
    env:
      GOVUK_NOTIFY_API_KEY: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout Code
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ inputs.node-version }}
          cache: npm

      - name: Lint install
        run: npm ci

      - name: Lint JS
        run: |-
          npm run lint:js

  scss_linting:
    name: "Lint SCSS"
    permissions:
      contents: read
    env:
      GOVUK_NOTIFY_API_KEY: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout Code
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Style lint install
        run: npm ci

      - name: Lint SCSS
        run: |-
          npm run lint:scss

  html_linting:
    name: Herb
    permissions:
      contents: read
    env:
      GOVUK_NOTIFY_API_KEY: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout Code
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true

      - name: Lint ERB Templates
        run: |-
          bundle exec herb analyze app

  terraform_linting:
    name: Lint Terraform
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        name: Checkout Code
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Check formatting
        run: terraform -chdir=config/terraform/application fmt -check -recursive -diff

      - name: Download terraform modules
        run: make ci staging vendor-modules

      - name: Validate
        run: |
          terraform -chdir=config/terraform/application init -backend=false
          terraform validate -no-color
