name: Reseed the staging database

on:
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  reseed-staging-db:
    name: Reseed the staging database
    runs-on: ubuntu-latest
    environment: staging
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - uses: Azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}

    - uses: DFE-Digital/github-actions/set-kubelogin-environment@master
      with:
        azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
        azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}

    - name: Seed API data
      run: |
        echo "Running API seeds..."
        make ci staging get-cluster-credentials
        kubectl exec -n cpd-development \
          deployment/cpd-ec2-staging-web \
          -- sh -c '
            cd /app &&
            DISABLE_DATABASE_ENVIRONMENT_CHECK=1 \
            RAILS_ENV=staging \
            /usr/local/bin/bundle exec rails db:truncate_all &&
            DISABLE_DATABASE_ENVIRONMENT_CHECK=1 \
            RAILS_ENV=staging \
            /usr/local/bin/bundle exec rake api_seed_data:generate
          '

    - name: Seed default data
      shell: bash
      run: |
        echo "Running default seeds..."
        make ci staging get-cluster-credentials
        kubectl exec -n cpd-development deployment/cpd-ec2-staging-web -- /bin/sh -c "cd /app && DISABLE_DATABASE_ENVIRONMENT_CHECK=1 /usr/local/bin/bundle exec rails db:seed"
