name: "RSpec"
on:
  workflow_call:
    inputs:
      ruby-version:
        description: Ruby version
        type: string
        required: false
        default: "3.4.7"

permissions:
  contents: read

jobs:
  backend-tests:
    name: Run rspec
    permissions:
      contents: read
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
      DB_USERNAME: postgres
      DB_PASSWORD: ""
      DB_HOSTNAME: 127.0.0.1
      DB_PORT: 5432
      ECF_DB_USERNAME: postgres
      ECF_DB_PASSWORD: ""
      ECF_DB_HOSTNAME: 127.0.0.1
      ECF_DB_PORT: 5432
      ANALYTICS_DB_USERNAME: postgres
      ANALYTICS_DB_PASSWORD: ""
      ANALYTICS_DB_HOSTNAME: 127.0.0.1
      ANALYTICS_DB_PORT: 5432
      ENCRYPTION_PRIMARY_KEY: test_primary_key
      ENCRYPTION_DETERMINISTIC_KEY: test_deterministic_key
      ENCRYPTION_DERIVATION_SALT: test_derivation_salt
      CI: true
      REDIS_CACHE_URL: 'redis://127.0.0.1:6379'
      ENABLE_KNAPSACK_TIME_OFFSET_WARNING: true

    services:
      postgres:
        image: postgres:16.4-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: "trust"
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server

    strategy:
      fail-fast: false
      matrix:
        ci_node_total: [6]
        ci_node_index: [0, 1, 2, 3, 4, 5]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./.github/actions/prepare-app-env
        id: test
        with:
          prepare-test-database: "true"
          prepare-assets: "true"

      - name: Run tests
        env:
          CI_NODE_TOTAL: ${{ matrix.ci_node_total }}
          CI_NODE_INDEX: ${{ matrix.ci_node_index }}
        run: |-
          bundle exec rake knapsack:rspec
