<% page_data(title: "Delivery partners", breadcrumbs: @breadcrumbs) %>

<%= render Shared::TopSearchComponent.new(
  label_text: "Search for delivery partner",
  hint_text: "Search by name",
) %>

<% if @delivery_partners.any? %>
  <%=
    govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "Delivery partner")
        end
      end

      table.with_body do |body|
        @delivery_partners.each do |delivery_partner|
          body.with_row do |row|
            row.with_cell do
              govuk_link_to(delivery_partner.name, admin_delivery_partner_path(delivery_partner, page: params[:page], q: params[:q]))
            end
          end
        end
      end
    end
  %>

  <%= render Shared::PaginationSummaryComponent.new(
    pagy: @pagy,
    record_name: "results"
  ) %>
<% elsif params[:q].present? %>
  <p class="govuk-body">There are no delivery partners that match your search.</p>
<% else %>
  <p class="govuk-body">No delivery partners found.</p>
<% end %>
